* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #0a0a14;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 75px;
}